body {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo1 {
  background-image: url(./assets/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.font-link {
  font-family: "Abel", sans-serif;
}

.font-nav {
  font-family: "Forum", cursive;
}

.custom-image {
  object-fit: cover;
  border-radius: 70px;
  width: 800px;
  height: 400px;
}

.foto2 {
  border-radius: 70px;
}

.foto3 {
  width: 500px;
  height: 600px;
  margin-left: 75px;
  border-radius: 20px;
}

.foto4 {
  width: 900px;
  height: 300px;
}

@media (max-width: 767px) {
  .foto3 {
    width: 100%; /* Occupa tutta la larghezza del dispositivo */
    height: auto; /* Altezza automatica in base all'aspect ratio dell'immagine */
    margin-left: 0; /* Rimuovi il margine a sinistra */
  }
}

.scroll-animation {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2.5s, transform 3.5s;
}

.scroll-animation.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .custom-image {
    max-width: 100%; /* Imposta la larghezza massima al 100% del contenitore padre */
  }
}

/* Stile del carosello su desktop */
@media (min-width: 992px) {
  .custom-carousel {
    width: 100%; /* Imposta la larghezza desiderata per il desktop */
  }

  .custom-carousel-image {
    width: 100%; /* Imposta la larghezza dell'immagine all'interno del carosello */
  }
}

@media (max-width: 991px) {
  .custom-carousel {
    width: 80%; /* Imposta la larghezza desiderata per i dispositivi mobili e tablet */
    margin: 0 auto; /* Centra il carosello orizzontalmente */
  }

  .custom-carousel-image {
    width: 100%; /* Imposta la larghezza dell'immagine all'interno del carosello */
  }
}
