body {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sfondo1 {
  background-image: url(./assets/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.font-link {
  font-family: "Abel", sans-serif;
}

.font-nav {
  font-family: "Forum", cursive;
}

.custom-image {
  object-fit: cover;
  border-radius: 70px;
  width: 800px;
  height: 400px;
}

.foto2 {
  border-radius: 70px;
}

.foto3 {
  width: 500px;
  height: 600px;
  margin-left: 75px;
  border-radius: 20px;
}

.foto4 {
  width: 900px;
  height: 300px;
}

@media (max-width: 767px) {
  .foto3 {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}

.scroll-animation {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2.5s, transform 3.5s;
}

.scroll-animation.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .custom-image {
    max-width: 100%;
  }
}

/* Stile del carosello su desktop */
@media (min-width: 992px) {
  .custom-carousel {
    width: 100%;
  }

  .custom-carousel-image {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .custom-carousel {
    width: 80%;
    margin: 0 auto;
  }

  .custom-carousel-image {
    width: 100%;
  }
}

.font-chi-siamo {
  font-family: "DM Serif Display", serif;
}

.orange-line {
  display: inline-block;
  border-bottom: 4px solid orange;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.orange-line:hover {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-fade-in {
  animation: fadeIn 7s ease-out;
}

.card-hover-color {
  background-color: transparent;
  transition: 2s ease;
  background-image: linear-gradient(to left, transparent 50%, orange 50%);
  background-size: 200% 100%; /* Imposta la larghezza del gradiente al 200% */
  background-position: right bottom;
}

.card-hover-color:hover {
  background-position: left bottom;
}

.contenitore-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testo-sopra-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Colore del testo */
  text-align: center;
}

.underline-on-hover {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.underline-on-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: orange;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.underline-on-hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
